@CHARSET "UTF-8";

.centerblock{
	width:100%;
	display:block; 
	float: left;
}

.content{
	display:block;
	float: left;
	clear: none;
/*	margin: 20px 10px 10px 40px;*/
	margin: 0px 0px 0px 0px;
}

.titlebar{	display: none;}
.leftnavigation{	display: none;}
.footer{	display: none;}
.admintitlebar{	display: none;}
.adminOrderNavigation{	display: none;}


.requestTypeHeader {
	text-align: left; 
	font: bold 14px sans-serif; 
	padding: 5px 0px 5px 10px; 
	margin: 0px 0px 0px 0px; 
	border-width: 0px; 
	text-decoration: none; 
}


.adminOrderType{
    font-size:18;
	text-align: center; 
	font-weight: bold; 
}
#InvoiceEntriesTable .Quantity, .Model, .PartDescription, .Price, .Extended	{ border:   0.05em solid #000; }
#InvoiceEntriesTable .HL_Quantity, .HL_Model, .HL_PartDescription, .HL_Price, .HL_Extended	{ background-color: #CCCCCC; border:   0.05em solid #000; }

.noPageBreak{
	page-break-after: always;
}

.printHide{ display: none;}

#acknowledgmentFooter {
	position: fixed;
	bottom: 0;
}

.debug{
display: none;
}


