#displayInvoiceList { display:block; float:left; margin-top:20px; }
#displayInvoiceList .data {width:115px; display:block; float:left;  }
#displayInvoiceList .Invoice {width:70px; display:block; float:left; clear:left;  }
#displayInvoiceList .bdr { display:block; float:left; border-style:solid; border-width:1px;  }
#displayInvoiceList .Name {width:220px; display:block; float:left; }
#displayInvoiceList .lbl { font-weight: bold; text-align: center; }

#shopInvoiceSearchForm { width:510px;  display:block; float:left; margin-top:20px; }
#shopInvoiceSearchForm .entryfield input {  width:210px;  }


.knifeListDiv {width:810px;  display:block; float:left; margin-top:10px; }
.knifeListDiv .customer { display:block; float:left;  clear:left;   }
.knifeListDiv .invoice { display:block; float:left;  clear:left; width:100%;  padding-bottom:20px; }

.knifeListDiv .qty { display:block; float:left; width:35px; clear:left; }
.knifeListDiv .partdesc {  width:120px;  display:block; float:left;  }
.knifeListDiv .features {  width:290px;   display:block; float:left;   }
.knifeListDiv .comment {  width:350px;   display:block; float:left;  }
.knifeListDiv .invoiceEntry { display:block; float:left;  clear:left; border-style:solid; border-width:1px;  }

.knifeListDiv .bdr { border-left-style:solid; border-right-style:solid; border-width:1px; }
.knifeListDiv .customerName { border-style:solid; border-width:3px; background-color:#DDDDDD; text-align: center; margin-top:30px;}
.knifeListDiv .endDealer { width:810px; float:left;  border-style:solid; border-width:3px; background-color:#DDDDDD; text-align: center; margin-bottom:10px;}

.knifeListDiv .summary { display:block; float:left;  clear:left; }
.knifeListDiv .summary .desc {width:100px;  display:block; float:left;  border-style:solid; border-width:1px;  }
.knifeListDiv .summary .cnt {width:20px;  display:block; float:left;  border-style:solid; border-width:1px; margin-right:20px;  }

.shopInvoiceDetail {width:810px;  display:block; float:left; }
.shopInvoiceDetail .lbl {width:120px; display:block;  float:left; clear:left;
						font-weight: bold; background-color: #FFFF99;}
.shopInvoiceDetail .data {width:250px; display:block; float:left;  }
.shopInvoiceDetail .Dealer {width:50px; display:block; float:left; font-style: italic; }
.shopInvoiceDetail .BillingAddress_lbl {width:120px; display:block;  float:left; 
						font-weight: bold; background-color: #FFFF99;}
.shopInvoiceDetail .qty { display:block; float:left; width:35px; clear:left; }
.shopInvoiceDetail .partdesc {  width:120px;  display:block; float:left;  }
.shopInvoiceDetail .features {  width:290px;   display:block; float:left;   }
.shopInvoiceDetail .comment {  width:350px;   display:block; float:left;  }
.shopInvoiceDetail .invoiceEntry { display:block; float:left;  clear:left; border-style:solid; border-width:1px;  }

.shopInvoiceDetail .invoiceKnifeListBlock { display:block; float:left; margin-top:20px; }
.invoiceKnifeListBlock .bdr { border-left-style:solid; border-right-style:solid; border-width:1px; }

.shopInvoiceDetail .invoiceFinanceSummary { display:block; float:left; margin-top:20px; }
.shopInvoiceDetail .invoiceFinanceSummary .data {  text-align:right; }

.knifeListNavigation {width:810px;  display:block; float:left; }

/*
.knifeListDiv .customer {  background-color:#FF2200;   }
.knifeListDiv .comment {  background-color:#FF2200;   }
.knifeListDiv .invoice {  background-color:#FFFF99;   }
*/
/* background-color: #BBBBBB; */
/* background-color: #FF2200; reddish*/
/* background-color: #FFFF99; yellowish*/

.titlebar{
	text-align: center;
	height:80px;
	color: #e4e5b5;
	background-color: #134242;
}
.leftnavigation{
	background-image: url(images/sidenav.gif);
	display:block; 
	float: left;
	width:160px;
	height:320px;
	min-height:320px;
	padding: 10px 0px 0px 0px; 
}

.centerblock{
	width:100%;
	display:block; 
	float: left;
}

.content{
	display:block;
	clear:none;
	width: 90%;
	margin: 30px 50px 10px 190px;
}

.contentIE{
	display:block;
	clear:none;
	margin: 0px -120px 0px 290px;
}


.footer{
	text-align: center;
	line-height:16px;
	display:block; 
	float: right;		
	width:100%; 	
	height:115px;
}

.leftnavigation a {
	display: block; 
	text-align: left; 
	font: bold 14px sans-serif; 
	padding: 5px 0px 5px 10px; 
	margin: 0px 0px 0px 0px; 
	border-width: 0px; 
	text-decoration: none; 
	color: #134242;
}
.leftnavigation a:hover {color: blue;}
.leftnavigation a#selected {color: #134242; background: url(images/back.gif); background-color: #e4e5b5;}

.admintitlebar{
	text-align: center;
	background-color: red;
	height:80px;
	min-height:80px;
	color: #e4e5b5;
}
.requestTypeHeader {
	text-align: left; 
	font: bold 14px sans-serif; 
	padding: 5px 0px 5px 10px; 
	margin: 0px 0px 0px 0px; 
	border-width: 0px; 
	text-decoration: none; 
}


label{
	width: 260px;
	float: left;
	text-align: right;
/*	margin-right: 0.5em;*/
	margin: 0px 10px 0px 0px;
	display: block;
}
input.btn{
	background-color: #134242;
	color: #FFFFFF;
}
input{
	width: 370px;
}
input.date{
	width: 70px;
}

input.select {
	width: 20px;
}

input.option {
	width: 12px;
	background-color:green;
	padding: 0px 70px 10px 50px;
}

.orderListNames input{
	width: 12px;
	height: 12px;
}
	
label.option {
	width: 18px;
}
	
input.checkbox {
	width: 18px;
}

label.required {
	color: red;
}

.floatleft{
	float: left; 
	border-style:solid;
	border-width:thin;
	padding: 10px 10px 10px 10px;
	margin: 0px 20px 10px 10px;
}
img.floatright{
	float: right; 
	border-style:solid;
	border-width:thin;
	padding: 10px 10px 10px 10px;
	margin: 0px 20px 10px 10px;
}
img.centered{
	padding: 0px 30px 10px 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
/*	background-color: #EBF1FA;*/
	background-color: #FFFFFF;
	width: 350px;
	height: 75px;
}

.largearea textarea {
/*	background-color: #EBF1FA;*/
	background-color: #FFFFFF;
	width: 650px;
	height: 125px;
}

.toolbar{
	float: left;
	width: 140px;
/*	height: 430px;*/
	background-color: #dbdbc0;
}
   html,body{
	background-color: #e4e5b5;
	margin: -20px 0 0 0;
	background: url(images/back.gif); 
	margin:0;
	padding:0;
	height:100%;
	border:none
}

div#cataloglist{
	text-align:center;	
	font-size:24px;
}
div#cataloglist a {
	color: #134242;
	text-decoration: none; 
	font-weight: bold; 
	font-size:18px;
	line-height: 26pt;
}

div#mainbody{
/*	width:100%;
	height:100%;
*/	margin: 0px 0px 0px 0px;
	background-color: #dbdbc0;
}

.orderListNames{
	display:block; 
	width:270px; 
    font-size:14px;
	left:0px; 
	position: relative; 
	float:left; 
	text-align: left; 
	font-weight: bold; 
	line-height: 22px;
}

.orderListEmails{
	display:block; 
	width:220px; 
    font-size:14px;
	left:0px; 
	position: relative; 
	float:left; 
	text-align: left; 
	font-style: italic;
	line-height: 22px;
}

.orderListNames a{
	text-decoration: none;
}

div.catalogblocklist{
	display:block; 
	padding: 15px 10px 20px 10px; 
	margin-left:10px;
	float:left; 
	text-align: left;
}
div.catalogblockdetail{
	display:block; 
	padding: 15px 100px 20px 10px; 
	position: relative; 
	float:left; 
	text-align: left;	
}
div.catalogblockdetaillist a{
	text-decoration: none; 
}
div.catalogblockdetaillist{
	font-size:18px;
	float:left; 
}
	
.adminOrderType{
    font-size:18px;
	text-align: center; 
	font-weight: bold; 
}
.adminOrderType a {
	text-decoration: none; 
}

.knifelist{
	border-collapse: collapse;
	border-style: solid;
	margin: 0 auto; 
/*	margin: 30px 10px 10px 10px;*/
	width:900px;
/*	empty-cells:show;*/
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}
.knifelistsummary{
	border-collapse: collapse;
	border-style: solid;
	margin: 0 auto; 
/*	margin: 30px 10px 10px 10px;*/
	width:900px;
/*	empty-cells:show;*/
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}
.knifelistsummary td.partcode {
	width:120px;
	padding-left:5px;
}
.knifelistsummary td.quantity {
	width:20px; 
	text-align: right;
}

td.partcode{
	width:60px; 
	text-align: left;
}
td.quantity{
	width:5px; 
	border: 2px;
	text-align: left;
}
td.additions{
	width:300px;
	border: 2px;
}
td.comment{
	width:50%;
	border: 2px;
}
td.invoice{
	font-weight: bold; 
	border: 2px;
}

tr.shade{
	background: #F2F9F9;
}
tr.summary{
	font-weight: bold; 
/*	background: #6D929B;*/
}
.sheath{
	background-color: #0000FF;
	color:#FFFFFF;
}
.etch{
	background-color: #FF0000;
	color:#FFFFFF;
}


span.cap-g {
  float: left; 
  font-size: 1.5em;
  padding: 0 0.05em;
  margin: 0 0.15em 0 0; 
/*  background: #90ee90;*/
  background: #e4e5b5;
  color:#134242;
  border: 3px outset #2e8b57;
	font-style: italic;
	font-weight: bold; 
}


	
/* background-color: #BBBBBB; */
/* background-color: #FF2200; reddish*/
/* background-color: #FFFF99; yellowish*/
