.entryfield { display:block; float:left; position:relative; }
.entryfield input {  float:left; position:relative; }
.entryfield label { float:left; width:180px; text-align:right; padding-right:8px; }
.entryfield .optionblock {display: block; float: left; padding-right: 4px; }
.entryfield input.option  {width:15px;  }

.statusmessage {width:950px;  display:block; float:left; color: #FF2200; clear:right; font-size:18pt; }

.titlebar{
	text-align: center;
	height:80px;
	display:block; 
	color: #e4e5b5;
	background-color: #134242;
}
.titlebar .titlebar_logo1{  padding-left: 30%; width:10%;  float: left; align:center; }
.titlebar .titlebar_logo2{ padding-right: 30%; width:20%;  float: left; align:left;}

.leftnavigation{
	background-image: url(images/sidenav.gif);
	display:block; 
	float: left;
	width:160px;
	height:320px;
	min-height:320px;
	padding: 10px 0px 0px 0px; 
}

.centerblock{
	width:100%;
	display:block; 
	float: left;
}

.content{
	display:block;
	clear:none;
	margin: 30px 30px 10px 170px;
}

.contentIE{
	display:block;
	clear:none;
	margin: 0px -120px 0px 290px;
}


.footer{
	text-align: center;
	line-height:16px;
	display:block; 
	float: right;		
	width:100%; 	
	height:115px;
}

.leftnavigation a {
	display: block; 
	text-align: left; 
	font: bold 14px sans-serif; 
	padding: 5px 0px 5px 10px; 
	margin: 0px 0px 0px 0px; 
	border-width: 0px; 
	text-decoration: none; 
	color: #134242;
}
.leftnavigation a:hover {color: blue;}
.leftnavigation a#selected {color: #134242; background: url(images/back.gif); background-color: #e4e5b5;}

.admintitlebar{
	text-align: center;
	background-color: red;
	height:80px;
	min-height:80px;
	color: #e4e5b5;
}
.requestTypeHeader {
	text-align: left; 
	font: bold 14px sans-serif; 
	padding: 5px 0px 5px 10px; 
	margin: 0px 0px 0px 0px; 
	border-width: 0px; 
	text-decoration: none; 
}




/*
label{
	width: 200px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	margin: 0px 10px 0px 0px;
	display: block;
}
*/

input.btn{
	background-color: #134242;
	color: #FFFFFF;
}

input.date{
	width: 70px;
}

input.select {
	width: 20px;
}

/*
input.option {
	width: 12px;
	background-color:green;
	padding: 0px 70px 10px 50px;
}
*/

.orderListNames input{
	width: 12px;
	height: 12px;
}
	
label.option {
	width: 18px;
}

label.required {
	color: red;
}

.floatleft{
	float: left; 
	border-style:solid;
	border-width:thin;
	padding: 10px 10px 10px 10px;
	margin: 0px 20px 10px 10px;
}
img.floatright{
	float: right; 
	border-style:solid;
	border-width:thin;
	padding: 10px 10px 10px 10px;
	margin: 0px 20px 10px 10px;
}
img.centered{
	padding: 0px 30px 10px 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
/*	background-color: #EBF1FA;*/
	background-color: #FFFFFF;
	width: 350px;
	height: 75px;
}

.largearea textarea {
/*	background-color: #EBF1FA;*/
	background-color: #FFFFFF;
	width: 650px;
	height: 125px;
}

.toolbar{
	float: left;
	width: 140px;
/*	height: 430px;*/
	background-color: #dbdbc0;
}
   html,body{
	background-color: #e4e5b5;
	margin: -20px 0 0 0;
	background: url(images/back.gif); 
	margin:0;
	padding:0;
	height:100%;
	border:none
}

div#cataloglist{
	text-align:center;	
	font-size:24px;
}
div#cataloglist a {
	color: #134242;
	text-decoration: none; 
	font-weight: bold; 
	font-size:18px;
	line-height: 26pt;
}

div#mainbody{
/*	width:100%;
	height:100%;
*/	margin: 0px 0px 0px 0px;
	background-color: #dbdbc0;
}

.orderListNames{
	display:block; 
	width:270px; 
    font-size:14px;
	left:0px; 
	position: relative; 
	float:left; 
	text-align: left; 
	font-weight: bold; 
	line-height: 22px;
}

.orderListEmails{
	display:block; 
	width:220px; 
    font-size:14px;
	left:0px; 
	position: relative; 
	float:left; 
	text-align: left; 
	font-style: italic;
	line-height: 22px;
}

.orderListNames a{
	text-decoration: none;
}

div.catalogblocklist{
	display:block; 
	padding: 15px 10px 20px 10px; 
	margin-left:10px;
	float:left; 
	text-align: left;
}
div.catalogblockdetail{
	display:block; 
	padding: 15px 100px 20px 10px; 
	position: relative; 
	float:left; 
	text-align: left;	
}
div.catalogblockdetaillist a{
	text-decoration: none; 
}
div.catalogblockdetaillist{
	font-size:18px;
	float:left; 
}
	
.adminOrderType{
    font-size:18px;
	text-align: center; 
	font-weight: bold; 
}
.adminOrderType a {
	text-decoration: none; 
}

span.cap-g {
  float: left; 
  font-size: 1.5em;
  padding: 0 0.05em;
  margin: 0 0.15em 0 0; 
/*  background: #90ee90;*/
  background: #e4e5b5;
  color:#134242;
  border: 3px outset #2e8b57;
	font-style: italic;
	font-weight: bold; 
}

#PartList{
	float: left;
	display: block;
}


#PartList br{
	clear: left;
}

#PartList .PartCode	{width: 120px;  text-align: left;   float: left; display: block; }
#PartList .Price			{width: 80px;  text-align: right; float: left; display: block; }

#PartList input			{width: 70px;  padding-left: 10px; text-align: right; float: left; display: block; }



#toDoList span.done{ text-decoration: line-through; }




#EmailSearch 
{
	float: left;
	display: block;
	width:300px; 
}
#EmailSearch label { width:120px; float:left; clear: left; padding-right: 10px; }
#EmailSearch input { width:120px; padding-left: 5px; }

#EmailList  { width:810px; display: block; float: left;	padding-top: 20px; }
#EmailList a { width:330px; display: block; float: left;}
#EmailList .subject { width:320px; display: block; float: left; }
#EmailList .date { width:110px; display: block; float: left;}

#EmailDetailView { width:810px; display: block; float: left;	padding-top: 20px; }

#OrdersSearch { width:390px; display: block; float: left; }
/*
#OrdersSearch .entryfield label {width:110px;  }
#OrdersSearch .entryfield input {width:110px;  }
*/
#OrdersSearch input.btn{ width:210px; display: block; float: left;}

#RequestList  { width:520px;  display: block; float: left;}
#RequestList #comment {  width:260px; height:60px;  display: block; float: left; }
#RequestList input.btn { display: block;  clear: left;  width:300px; }
#RequestList .entryfield label {width:200px;  }
#RequestList .entryfield input {width:250px;  }
#RequestList textarea { display: block; float: left; width:250px; }
#RequestList #CC { height:30px; }
#RequestList .entryfield .processed {width:110px;  }

.CatalogRequest { width:510px; display:block; float:left; margin-top:10px; background-color:#FFFF99;}
.QuoteRequest   { width:510px; display:block; float:left; margin-top:10px; background-color:#FF9900;}
.OrderRequest   { width:510px; display:block; float:left; margin-top:10px; background-color:#BBBBBB;}
.PaymentRequest   { width:510px; display:block; float:left; margin-top:10px; background-color:#11CC11;}

.CatalogRequest .entryfield label {width:200px;  }
.CatalogRequest .entryfield input {width:250px;  }
.CatalogRequest #CC { display: block; float: left; width:250px; height:32px;}
.QuoteRequest .entryfield label {width:200px;  }
.QuoteRequest .entryfield input {width:250px;  }
.QuoteRequest #CC { display: block; float: left; width:250px; height:32px;}
.OrderRequest .entryfield label {width:200px;  }
.OrderRequest .entryfield input {width:250px;  }
.OrderRequest #CC { display: block; float: left; width:250px; height:32px;}


#AdminCategorySelect {  width:550px; display: block; float: left; margin-top: 10px; }
#AdminCategorySelect label {width:160px; display: block; float: left; clear: left; }
#AdminCategorySelect select { width:340px; display: block; float: left; }

#editModelForm {  width:550px; display: block; float: left; margin-top: 30px; }
#editModelForm label {width:120px; display: block; float: left; clear: left; }
#editModelForm input {width:210px; display: block; float: left; }
#editModelForm input.btn {width:210px; display: block; float: left; clear:left;}
#editModelForm #description {width:410px; height:110px; display: block; float: left; }
#editModelForm #note {width:410px; height:60px; display: block; float: left; }
#editModelForm #piclabel {width:30px; display: block; float: left; }

#photoblock {  width:550px; display: block; float: left; margin-left: 30px;  }

#editCategoryForm {  display: block; float: left; margin-top: 30px; }
#editCategoryForm label {width:80px; display: block; float: left; clear: left; }
#editCategoryForm #category {width:310px; display: block; float: left; clear: left; }
#editCategoryForm .btn {width:120px; display: block; float: left; clear: left; margin-top: 10px; }

.photoblocks {  display: block; float: left; clear: left; }

.editphotoblock {  width:250px;  height:280px; display: block; float: left; margin-top: 10px;}
.editphotoblock label {width:80px; display: block; clear: left; }
.editphotoblock img {width:210px; display: block; margin-left: 10px; }
.editphotoblock input {width:100px; display: block; }

#unprocessedrequests {  width:200px;  display: block; float: left; margin-top: 10px;}
#unprocessedrequests .label {width:80px; display: block; clear:left; float: left;
		background-color: #FF2200; padding-bottom: 10px;}
#unprocessedrequests .value {width:40px; display: block; float: left;
		background-color: #BBBBBB; padding-bottom: 10px;}

#emailForRequest {  width:550px;  display: block; float: left; margin-top: 10px; background-color: #BBBBBB; }
#emailForRequest textarea{  width:330px;  }

#basicPaymentForm { width:500px;  display: block; float: left;}
#basicPaymentForm input.btn{ width:210px;  display: block; float: left;}
#basicPaymentForm input.btn:focus{ border:2px #FF0000 solid;}
#basicPaymentForm input.btn:hover{ border:2px #FF0000 solid;}
#basicPaymentForm .entryfield input {width:250px;  }
#basicPaymentForm .entryfield .state {width:40px;  }
#basicPaymentForm .entryfield .zip {width:130px;  }
#basicPaymentForm .name, .email, .address1, .city, .state, .zip, .country, .phone {background-color: #DDDDDD;  }
#basicPaymentForm .note {width:300px; height:60px; display: block; float: left; } 

#paymentSubmissionReviewForm { width:500px;  display: block; float: left;}
#paymentSubmissionReviewForm input.btn{ width:210px;  display: block; float: left; }
#paymentSubmissionReviewForm input.btn:focus{ border:2px #FF0000 solid;}
#paymentSubmissionReviewForm input.btn:hover{ border:2px #FF0000 solid;}
#paymentSubmissionReviewForm .entryfield input {width:250px;  }
#paymentSubmissionReviewForm .entryfield .state {width:40px;  }
#paymentSubmissionReviewForm .entryfield .zip {width:130px;  }
#paymentSubmissionReviewForm .name, .email, .address1, .city, .state, .zip, .country, .phone {background-color: #DDDDDD;  }
#paymentSubmissionReviewForm .note {width:300px; height:60px; display: block; float: left; } 



#customerOrderForm_main {width:520px;  display: block; float: left; margin-top: 10px; }
#customerOrderForm { display: block; float: left; margin-top: 10px;}

#customerOrderForm .name, .email, .address1, .city, .state, .zip, .country, .phone {background-color: #DDDDDD;  }
#customerOrderForm .entryfield .state {width:40px;  }
#customerOrderForm .entryfield .zip {width:130px;  }
#customerOrderForm .entryfield .bladelength {width:80px;  }
#customerOrderForm textarea {width:300px;  }
#customerOrderForm .optionblock { background-color: #DDDDDD;  }
#customerOrderForm input.btn {width:140px; display: block; float: left; clear: left; margin-top: 10px; }
#customerOrderForm  .entryfield input.option  {width:15px; margin-right: 2px; }
#customerOrderForm .entryfield input {width:250px;  }

#ccdata {width:500px;  display: block; float: left; margin-top: 10px; margin-left: 40px; border-style:solid;}
#ccdata .ccvcode {width:40px; }
#ccdata .ccexpire {width:60px;  }
#ccdata  .entryfield label { width:140px;  }
#ccdata input {background-color: #DDDDDD;  }
#ccdata  .entryfield input.option  {width:15px;  }

#customerOrderValidation_main {width:520px;  display: block; float: left; margin-top: 10px; }
#customerOrderValidation {float:left;  display: block; }
#customerOrderValidation .name, .email, .address1, .city, .state, .zip, .country, .phone {background-color: #DDDDDD;  }
#customerOrderValidation .entryfield .state {width:40px;  }
#customerOrderValidation .entryfield .zip {width:130px;  }
#customerOrderValidation .entryfield .bladelength {width:80px;  }
#customerOrderValidation textarea {width:220px;  }
#customerOrderValidation .optionblock { background-color: #DDDDDD;  }
#customerOrderValidation input.btn {width:140px; display: block; float: left; clear: left; margin-top: 10px; }
#customerOrderValidation  .entryfield input.option  {width:15px; margin-right: 2px; }
#customerOrderValidation .entryfield input {width:220px;  }
/*
#customerOrderValidation label {width:130px;}
#customerOrderValidation input.btn {width:220px; float: left; }
*/

#customerOrderValidation .entryfield {width:420px;  display:block;  }

#PartEditForm { display: block; float: left; width:390px; }
#PartEditForm .entryfield label { width:100px; }
#PartEditForm input.btn {width:140px; display: block; float: left; clear: left; margin-top: 10px; }

#customerCatalogRequest  { display: block; float: left; width:600px;  }
#customerCatalogRequest .optionblock { background-color: #DDDDDD;  }
#customerCatalogRequest  input { width:210px;  }
#customerCatalogRequest input.btn {display: block; clear: left; }
#customerCatalogRequest #zip {width:130px;  }
#customerCatalogRequest #state {width:40px;  }
/*
#customerCatalogRequest .ccvcode {width:40px; }
#customerCatalogRequest .ccexpire {width:60px;  }
*/

#disseminatePolicy  { display: block; float: left; width:600px;  }
#prefix  { display: block; float: left; width:800px; margin-bottom: 10px;  }
#postfix  { display: block; float: left; width:800px; margin-top: 10px;  }


#sendEmailForm {display: block; width:600px;  }
#sendEmailForm .entryfield  {width:600px; margin-bottom: 10px;  }
#sendEmailForm .entryfield input {width:220px;  }
#sendEmailForm .entryfield label { float:left; }


#paymentSubmissionResponse { display: block; float: left; width:600px; background-color: #FF2200; }

#na {background-color: #FFFF99;)

/* background-color: #BBBBBB; */
/* background-color: #FF2200; reddish*/
/* background-color: #FFFF99; yellowish*/
